*{
    padding: 0;
    margin: 0;
    font-family: "Futura";
}

.bg-swicher{
    width: 100vw;
    height: 100vh;
    background-image: url(images/background1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.title img{
    text-align: center;
    padding-top: 250px;
    width:600px;
    height: auto;
    margin: 0 auto;
}


.title p{
    text-align: center;
    color: #ffffff;
    font-family: "Futura";
    font-style: italic;
    font-weight: lighter;
    font-size: 20px;
}

h2,h3,a,footer {
    font-family: 'Futura';
}

h2{
    text-align: center;
    color: #3D5CDB;
    font-family: "Futura";
    font-size: 30px;
}

.introduction{
    text-align: center;
    padding-top: 20px;
}

.contents{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

.contents img{
    width: 300px;
    height: auto;
}

.content-left p{
    margin-top: 20px;
    margin-left: 40px;
    text-align: left;
    width: 300px;
    font-size: 10px;
}

.content-right p{
    width: 300px;
    font-size: 10px;
    margin: 30px;
    margin-right: 40px;
    text-align: left;
}

.contents a{
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    width: 90px;
    text-decoration:none;
    line-height: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}


.member-1{
    background-color: #3D5CDB;
}

.contents a:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.courses a:hover{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.member-2{
    background-color: #ffbf00;
}


.courses{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #3D5CDB;
    
}


.course{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    width: 100px;
}

.courses a{
    display: flex;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    width: 90px;
    text-decoration:none;
    line-height: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}


.course p{
    margin-top: 16px;
    font-size: 10px;
    color:#333333;
}



.html{
  background-color: #FE7536;  
}

.css{
    background-color: #29A9DF;
}

.unity{
    background-color: #333333;
}

.ruby{
    background-color: #FF5252;
}

.javascript{
    background-color: #FED700;
}

.swift{
    background-color: #F16529;
}

.go{
    background: #73CEDD;
}

.course img{
    text-align: center;
    height: 50px;
}


.slick-initialized .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin-right:200px;
    margin-left:200px;
    max-width: 100%;
}

.slide-img{
    width: 100%;
}

  
.slick-prev:before,
.slick-next:before {
  font-size: 5px;
  color: #333333;
}



body{
    background: url(../images/bg-about.jpg) center/contain;
    font-family: 'Noto Sans JP', sans-serif;
}

.fadein{
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s;
}

#bg-fixed{
    background: url(../images/bg-fixed.jpg) center/cover;
    height: 300px;
    background-attachment: fixed;
}


#courses,
#images,
#access
{
    padding: 50px 0;
    margin: 0;
}

.access-wrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.access-wrap iframe{
    width: 300px;
    height: 200px;
}

.access-box{
    margin-left: 50px;
}

.access-box-title{
    font-weight: bold;
}

.access-box-text{
    margin-bottom: 10px;
}

/* footer */

footer{
    padding: 10px 0;
}

footer p{
    color: #808080;
    text-align: center;
    font-size: 5px;
}

/*navigation*/
nav{
    display: flex;
    justify-content: flex-end;
    padding: 30px auto;
    position: absolute;
    top: 0;
    width: 100%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


nav ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-left: 30px;
    margin-top: 15px;
    margin-right:40px;
}

nav a{
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    text-align: right;
}

nav a:hover {
    color: #3D5CDB;
    transition: 1s;
}













